mixin advantage(mods)
  -
  section.advantage(class=allMods)&attributes(attributes)
    .advantage__inner
      h2.advantage__title Преимущества
      ul.advantage__list
        li.advantage__item.advantage__item--lock
          h3.advantage__subtite Real-time all the time
          p.advantage__text.
            Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
          p.advantage__text.
            Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
        li.advantage__item.advantage__item--clock
          h3.advantage__subtite Adopt without any obstacles
          p.advantage__text.
            This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
          p.advantage__text.
            This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
