.title-line {
  position: relative;

  &:after {
    @include pseudo;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #267df4;
    border-radius: 1px;
  }
}